.inner {
    width: 1200px;
    margin: 0 auto;
}


/* banner */
#header_scroll {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.5);
    transition: line-height 0.5s;
    line-height: 100px;
    z-index: 999;
}

#header_scroll h1 {
    font-size: 0;
}

#header_scroll.on {
    background: #fff;
    line-height: 70px;

}

#header_scroll img {
    height: 70px;
    transition: 0.5s;
}

#header_scroll.on img {
    height: 40px;
}

#header_scroll .inner {
    display: flex;
    justify-content: space-between;

}

#header_scroll nav>ul {
    display: flex;
    gap: 60px;
}

#header_scroll nav .smenu a {
    font-size: 14px;
}

#header_scroll nav>ul>li {
    position: relative;
}



#header_scroll nav>ul>li a {
    display: block;
    text-align: center;
    font-size: 16PX;
}

#header_scroll nav>ul>li .smenu {
    position: absolute;
    top: 80px;
    left: 50%;
    background: #fff;
    border: 1px solid #555;
    line-height: 35px;
    width: 130px;
    transform: translate(-50%, 0);
    display: none;
    border-radius: 10px;

}

#header_scroll nav>ul>li .smenu::before {
    content: "";
    position: absolute;
    top: -6px;
    left: 50%;
    width: 20px;
    height: 20px;
    background: #fff;
    border: 2px solid #555;
    transform: translate(-50%, 0) rotate(45deg);
}

#header_scroll nav>ul>li:hover .smenu {
    display: block;

}


#header_scroll nav>ul>li .smenu li {
    position: relative;
    background: #fff;
    border-radius: 10px;
}

#header_scroll .link {
    position: relative;
    top: 0;
    right: -100px;
}

#header_scroll .link i {
    font-size: 20px;
    font-weight: 500;
    margin: 0 5px;

}





/* mainSlide */
.mainVisual {
    position: relative;
}

.mainVisual .mainSlide .itm {
    position: relative;
    height: 1000px;
    width: 100%;

}

.mainVisual .mainSlide .itm01 {
    background: url(../img/mainbn3_slide_01_1226.png);
}

.mainVisual .mainSlide .itm02 {
    background: url(../img/mainbn3_slide_02_1226.png);
}

.mainVisual .mainSlide .itm03 {
    background: url(../img/mainbn3_slide_03_1226.png);
}

.mainVisual .mainSlide .itm04 {
    background: url(../img/mainbn3_slide_04_1226.png);
}

.mainVisual .main_slide_dots {
    position: absolute;
    bottom: 100px;
    left: 50%;
    transform: translate(-50%, 0);
    display: flex;
    gap: 10px;

}

.mainVisual .main_slide_dots li button {
    background: #777;
    color: #fff;
    padding: 5px;
    font-size: 13px;
    border-radius: 50%;
    border: 1px;
}

.mainVisual .main_slide_dots li.on button {
    background: tomato;
}



/* mainContent */
.mainContent {
    position: relative;
    height: 950px;

    background: rgb(240, 212, 180, 0.5);
}

.mainContent h2 {
    font-size: 28px;
    font-weight: 700;
    padding: 150px 0 30px 0;
    text-align: center;
    text-transform: uppercase;
}

.mainContent h2 ::after {
    content: "";
    display: block;
    width: 25px;
    height: 2px;
    background: #333;
    margin: 20px auto;
}

.mainContent>p {
    font-size: 16px;
    font-weight: 300;
    margin: 0 0 150px 0;
    text-align: center;
    line-height: 25px;
}

.mainContent .inner {

    display: flex;
    width: 100%;
}

.mainContent figure {

    overflow: hidden;

}

.mainContent figure .scale_box {
    margin: 0 0 20px 0;
    overflow: hidden;

}

.mainContent figure .scale_box img {
    transition: 0.5s;
}

.mainContent figure .scale_box:hover img {
    transform: scale(1.3);
}





/* mainEvent */
.mainEvent {
    position: relative;
    height: 900px;
    width: 100%;
    background: #f7f7f7;
}

.mainEvent .mc {
    color: tomato;
    font-size: 30px;
}

.mainEvent h2 {
    font-size: 23px;
    font-weight: 700;
    padding: 150px 0 30px 0;
    text-align: center;
    text-transform: uppercase;
}

.mainEvent h2 ::after {
    content: "";
    display: block;
    width: 25px;
    height: 2px;
    background: #333;
    margin: 20px auto;
}

.mainEvent>p {
    font-size: 17px;
    font-weight: 300;
    margin: 0 0 150px 0;
    text-align: center;
    line-height: 25px;
}

.mainEvent .inner {
    display: flex;
    gap: 30px;
}



/* mainPromotion */
/* .mainPromotion {
    position: relative;
    height: 900px;
    width: 100%;
    background: #fff;
}

.mainPromotion .movie {
    position: relative;
}


.mainPromotion video {
    width: 100%;
    border-radius: 30px;
    margin: 200px 0;
} */






/* mainProduct */
.mainProduct {
    position: relative;
    height: 1000px;
    width: 100%;
}

.mainProduct h2 {
    font-size: 28px;
    font-weight: 700;
    padding: 120px 0 30px 0;
    text-align: center;
    text-transform: uppercase;
}

.mainProduct h2 ::after {
    content: "";
    display: block;
    width: 25px;
    height: 2px;
    background: #333;
    margin: 20px auto;
}

.mainProduct>p {
    font-size: 16px;
    font-weight: 300;
    margin: 0 0 120px 0;
    text-align: center;
    line-height: 25px;
}

.mainProduct .inner {
    display: flex;
    gap: 30px;

}

.mainProduct .inner img {
    border-radius: 30px;
}